*{
    margin: 0px;
    padding: 0px;
}
.banner{
    display: flex;
    background-color: rgba(229, 84, 115, 0.10);
    justify-content:space-around;
    align-items: center;
    padding-top:40px;

}
.banner-greeting{
    width: 450px;
    font-size: 50px;
    
}
.banner-about{
    padding-left: 20px;
}
.banner-description{
    width: 500px;
    font-size: 18px;
    color: rgba(39, 39, 39, 0.60);
    margin: 20px 0px;
}
.btn-primary{
    border-radius: 5px;
background: #E55473;
color: white;
padding: 8px;
border: none;
}

.banner-image{
    height: 700px;
    width: 600px;
}
.feature-about{
    text-align: center;
    margin-top: 100px;

}
.feature-greeting{
    font-size: 35px;
    font-weight: 700px;
    margin-bottom: 20px;
}
.feature-description{
    color: rgba(39, 39, 39, 0.60);
    margin-bottom: 30px;
}
.photo{
    display: flex;
  
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10%;
}
.photo1{
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
height: 300px;
width: 250px;

}
.photo2{
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
height: 300px;
width: 250px;
margin: 0 20px;
}
.photo3{
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
height: 300px;
width: 250px;
}
.ph1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 180px;
    padding-top: 100px;

}
.ph2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 230px;
    width: 190px;
    padding-top: 65px;

}
.ph3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 190px;
    padding-top: 50px;


}
.tree{
    text-align: center;
    text-decoration: underline;
    margin-top: 10%;
    font-size: 18px;
}
.singup{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-color: rgba(229, 84, 115, 0.05);
    width: 100vw;
    height:500px;
  
    

}
.color-span{
    color: #E55473;
}
.singup-greeting{
    font-size: 30px;
    font-weight: 700px;
    margin-bottom:2%;

}
.singup-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 600px;
    width: 600px;
    margin-bottom: 2%;
}
.singup-about{
    text-align: center;
    

}
.singup-img{
  height: 350px;
  width: 260px;
  padding-top:2%;
}
.insta-img{
    display: flex;
    justify-content: center;
    
}
.insta{
    text-align: center;
}
.ip{
    display: block;
    height: 250px;
    width: 200px;
    margin: 1.5%;
}
.insta-greetings{
    font-size: 40px;
    font-weight: 800px;
    margin-top:8% ;

}
.insta-description{
    font-size:16px ;
    color: rgba(39, 39, 39, 0.60);
    font-weight: 300;
    margin-top:10px;

}

.email{
    text-align: center;
background-image: url(../images/Rectangle\ 9.png);
background-repeat: no-repeat;
background-size: contain;
margin:3%;
padding: 3%;
background-position: center;
  

}
.deals{
    color: #272727;
    font-size: 35px;
    font-weight: 800px;
padding-top: 2%;
margin-bottom: 8px;

}
.offer-coupon{
    font-size: 16px;
    font-weight: 400;

}
.input-email{
    width: 700px;
    height: 34px;
    margin:auto;
    border: none;
    border-radius: 5px;
    padding-left: 8px;
    margin-top: 2%;
    box-shadow: inset 2px 2px 2px rgb(198, 198, 198);

}
footer{
    background-color: #111010;
    margin-top: 5%;
    text-align: center;
}
.footer-shop{
   color:#E55473;
  
} 
.footer-title{
    color:white;
font-size:40px;
font-weight:800;
padding-top:5%;

}
.footer-description{
    color:#FFFFFFE5;
    font-size:18px;
    font-weight:300;
    margin-top:3%;
    
}
.footer-reserved{
    color:#a4a1a1;
    margin-top:8px;
    padding-bottom:5%;
    margin-top:10px;
}